.mybackground {
    background: linear-gradient(291.84deg, #745BDF 1.02%, #E44E8F 244.31%);
}
.mybackground2 {
    background: linear-gradient(291.81deg, #745BDF 0%, #E94E8B 249.57%);
}
.mybackground3 {
    background: linear-gradient(120.59deg, #E94D8B -99.26%, #775BDE 100%);
}
.mybackground4 {
    background: linear-gradient(289.19deg, #BDB2DA 0%, #E5C7F3 98.35%);
}
.buttonbackground {
    background: linear-gradient(291.84deg, #745BDF 1.02%, #E44E8F 244.31%);
}